<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yxt.crud.mapper.BookMapper">

	<resultMap id="BaseResultMap" type="com.yxt.curd.bean.Book">
		<id property="bookId" column="book_id" jdbcType="INTEGER"/>
		<result property="title" column="title" jdbcType="VARCHAR"/>
		<result property="content" column="content" jdbcType="VARCHAR"/>
		<result property="imgSrc" column="img_src" jdbcType="VARCHAR"/>
		<result property="reading" column="reading" jdbcType="INTEGER"/>
		<result property="detail" column="detail" jdbcType="VARCHAR"/>
		<result property="collection" column="collection" jdbcType="INTEGER"/>
		<result property="headImgSrc" column="head_img_src" jdbcType="VARCHAR"/>
		<result property="author" column="author" jdbcType="VARCHAR"/>
		<result property="avatar" column="avatar" jdbcType="VARCHAR"/>
		<result property="postId" column="post_id" jdbcType="INTEGER"/>
		<result property="music" column="music" jdbcType="VARCHAR"/>
		<result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
		<result property="createId" column="create_id" jdbcType="INTEGER"/>
		<result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
		<result property="updateId" column="update_id" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="BaseColumnList">
		book_id,
		title,
		content,
		img_src,
		reading,
		detail,
		collection,
		head_img_src,
		author,
		avatar,
		post_id,
		music,
		create_time,
		create_id,
		update_time,
		update_id
	</sql>

	<select id="selectBook" parameterType="java.util.Map" resultMap="java.util.Map">
		SELECT
		book_id,
		title,
		content,
		img_src,
		reading,
		detail,
		collection,
		head_img_src,
		author,
		avatar,
		post_id,
		music,
		create_time,
		create_id,
		update_time,
		update_id
		FROM book
		WHERE 1 = 1
		<if test="bookId != null" >AND book_id = #{bookId,jdbcType=INTEGER}</if>
	</select>

	<insert id="insertBook">
		INSERT INTO book
		(
			book_id,
			title,
			content,
			img_src,
			reading,
			detail,
			collection,
			head_img_src,
			author,
			avatar,
			post_id,
			music,
			create_time,
			create_id,
			update_time,
			update_id
		)
		VALUES
		(
			#{bookId,jdbcType=INTEGER},
			#{title,jdbcType=VARCHAR},
			#{content,jdbcType=VARCHAR},
			#{imgSrc,jdbcType=VARCHAR},
			#{reading,jdbcType=INTEGER},
			#{detail,jdbcType=VARCHAR},
			#{collection,jdbcType=INTEGER},
			#{headImgSrc,jdbcType=VARCHAR},
			#{author,jdbcType=VARCHAR},
			#{avatar,jdbcType=VARCHAR},
			#{postId,jdbcType=INTEGER},
			#{music,jdbcType=VARCHAR},
			#{createTime,jdbcType=TIMESTAMP},
			#{createId,jdbcType=INTEGER},
			#{updateTime,jdbcType=TIMESTAMP},
			#{updateId,jdbcType=INTEGER}
		)
	</insert>

	<insert id="insertBookSelective">
		INSERT INTO book
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bookId != null" >book_id,</if>
			<if test="title != null" >title,</if>
			<if test="content != null" >content,</if>
			<if test="imgSrc != null" >img_src,</if>
			<if test="reading != null" >reading,</if>
			<if test="detail != null" >detail,</if>
			<if test="collection != null" >collection,</if>
			<if test="headImgSrc != null" >head_img_src,</if>
			<if test="author != null" >author,</if>
			<if test="avatar != null" >avatar,</if>
			<if test="postId != null" >post_id,</if>
			<if test="music != null" >music,</if>
			<if test="createTime != null" >create_time,</if>
			<if test="createId != null" >create_id,</if>
			<if test="updateTime != null" >update_time,</if>
			<if test="updateId != null" >update_id,</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides="," >
			<if test="bookId != null" >#{bookId,jdbcType=INTEGER},</if>
			<if test="title != null" >#{title,jdbcType=VARCHAR},</if>
			<if test="content != null" >#{content,jdbcType=VARCHAR},</if>
			<if test="imgSrc != null" >#{imgSrc,jdbcType=VARCHAR},</if>
			<if test="reading != null" >#{reading,jdbcType=INTEGER},</if>
			<if test="detail != null" >#{detail,jdbcType=VARCHAR},</if>
			<if test="collection != null" >#{collection,jdbcType=INTEGER},</if>
			<if test="headImgSrc != null" >#{headImgSrc,jdbcType=VARCHAR},</if>
			<if test="author != null" >#{author,jdbcType=VARCHAR},</if>
			<if test="avatar != null" >#{avatar,jdbcType=VARCHAR},</if>
			<if test="postId != null" >#{postId,jdbcType=INTEGER},</if>
			<if test="music != null" >#{music,jdbcType=VARCHAR},</if>
			<if test="createTime != null" >#{createTime,jdbcType=TIMESTAMP},</if>
			<if test="createId != null" >#{createId,jdbcType=INTEGER},</if>
			<if test="updateTime != null" >#{updateTime,jdbcType=TIMESTAMP},</if>
			<if test="updateId != null" >#{updateId,jdbcType=INTEGER},</if>
		</trim>
	</insert>

	<insert id="insertBookBatch" parameterType="java.util.List">
		INSERT INTO book
		(
			book_id,
			title,
			content,
			img_src,
			reading,
			detail,
			collection,
			head_img_src,
			author,
			avatar,
			post_id,
			music,
			create_time,
			create_id,
			update_time,
			update_id
		)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
		(
			#{bookId,jdbcType=INTEGER},
			#{title,jdbcType=VARCHAR},
			#{content,jdbcType=VARCHAR},
			#{imgSrc,jdbcType=VARCHAR},
			#{reading,jdbcType=INTEGER},
			#{detail,jdbcType=VARCHAR},
			#{collection,jdbcType=INTEGER},
			#{headImgSrc,jdbcType=VARCHAR},
			#{author,jdbcType=VARCHAR},
			#{avatar,jdbcType=VARCHAR},
			#{postId,jdbcType=INTEGER},
			#{music,jdbcType=VARCHAR},
			#{createTime,jdbcType=TIMESTAMP},
			#{createId,jdbcType=INTEGER},
			#{updateTime,jdbcType=TIMESTAMP},
			#{updateId,jdbcType=INTEGER}
		)
		</foreach>
	</insert>

	<update id="updateBook">
		UPDATE book
		SET
			title=#{title,jdbcType=VARCHAR},
			content=#{content,jdbcType=VARCHAR},
			img_src=#{imgSrc,jdbcType=VARCHAR},
			reading=#{reading,jdbcType=INTEGER},
			detail=#{detail,jdbcType=VARCHAR},
			collection=#{collection,jdbcType=INTEGER},
			head_img_src=#{headImgSrc,jdbcType=VARCHAR},
			author=#{author,jdbcType=VARCHAR},
			avatar=#{avatar,jdbcType=VARCHAR},
			post_id=#{postId,jdbcType=INTEGER},
			music=#{music,jdbcType=VARCHAR},
			create_time=#{createTime,jdbcType=TIMESTAMP},
			create_id=#{createId,jdbcType=INTEGER},
			update_time=#{updateTime,jdbcType=TIMESTAMP},
			update_id=#{updateId,jdbcType=INTEGER}
		WHERE
			book_id=#{bookId,jdbcType=INTEGER}
	</update>

	<update id="updateBookSelective">
		UPDATE book
		<set>
			<if test="title != null" >title=#{title,jdbcType=VARCHAR},</if>
			<if test="content != null" >content=#{content,jdbcType=VARCHAR},</if>
			<if test="imgSrc != null" >img_src=#{imgSrc,jdbcType=VARCHAR},</if>
			<if test="reading != null" >reading=#{reading,jdbcType=INTEGER},</if>
			<if test="detail != null" >detail=#{detail,jdbcType=VARCHAR},</if>
			<if test="collection != null" >collection=#{collection,jdbcType=INTEGER},</if>
			<if test="headImgSrc != null" >head_img_src=#{headImgSrc,jdbcType=VARCHAR},</if>
			<if test="author != null" >author=#{author,jdbcType=VARCHAR},</if>
			<if test="avatar != null" >avatar=#{avatar,jdbcType=VARCHAR},</if>
			<if test="postId != null" >post_id=#{postId,jdbcType=INTEGER},</if>
			<if test="music != null" >music=#{music,jdbcType=VARCHAR},</if>
			<if test="createTime != null" >create_time=#{createTime,jdbcType=TIMESTAMP},</if>
			<if test="createId != null" >create_id=#{createId,jdbcType=INTEGER},</if>
			<if test="updateTime != null" >update_time=#{updateTime,jdbcType=TIMESTAMP},</if>
			<if test="updateId != null" >update_id=#{updateId,jdbcType=INTEGER},</if>
		</set>
		WHERE
			book_id=#{bookId,jdbcType=INTEGER}
	</update>

	<update id="updateBookBatch" parameterType="java.util.List">
		UPDATE book SET
		<foreach collection="list" item="item" index="index"
				separator="" open="title=CASE book_id" close="END,">
			WHEN #{item.book_id} THEN #{item.title,jdbcType=VARCHAR}
		</foreach>
		<foreach collection="list" item="item" index="index"
				separator="" open="content=CASE book_id" close="END,">
			WHEN #{item.book_id} THEN #{item.content,jdbcType=VARCHAR}
		</foreach>
		<foreach collection="list" item="item" index="index"
				separator="" open="img_src=CASE book_id" close="END,">
			WHEN #{item.book_id} THEN #{item.imgSrc,jdbcType=VARCHAR}
		</foreach>
		<foreach collection="list" item="item" index="index"
				separator="" open="reading=CASE book_id" close="END,">
			WHEN #{item.book_id} THEN #{item.reading,jdbcType=INTEGER}
		</foreach>
		<foreach collection="list" item="item" index="index"
				separator="" open="detail=CASE book_id" close="END,">
			WHEN #{item.book_id} THEN #{item.detail,jdbcType=VARCHAR}
		</foreach>
		<foreach collection="list" item="item" index="index"
				separator="" open="collection=CASE book_id" close="END,">
			WHEN #{item.book_id} THEN #{item.collection,jdbcType=INTEGER}
		</foreach>
		<foreach collection="list" item="item" index="index"
				separator="" open="head_img_src=CASE book_id" close="END,">
			WHEN #{item.book_id} THEN #{item.headImgSrc,jdbcType=VARCHAR}
		</foreach>
		<foreach collection="list" item="item" index="index"
				separator="" open="author=CASE book_id" close="END,">
			WHEN #{item.book_id} THEN #{item.author,jdbcType=VARCHAR}
		</foreach>
		<foreach collection="list" item="item" index="index"
				separator="" open="avatar=CASE book_id" close="END,">
			WHEN #{item.book_id} THEN #{item.avatar,jdbcType=VARCHAR}
		</foreach>
		<foreach collection="list" item="item" index="index"
				separator="" open="post_id=CASE book_id" close="END,">
			WHEN #{item.book_id} THEN #{item.postId,jdbcType=INTEGER}
		</foreach>
		<foreach collection="list" item="item" index="index"
				separator="" open="music=CASE book_id" close="END,">
			WHEN #{item.book_id} THEN #{item.music,jdbcType=VARCHAR}
		</foreach>
		<foreach collection="list" item="item" index="index"
				separator="" open="create_time=CASE book_id" close="END,">
			WHEN #{item.book_id} THEN #{item.createTime,jdbcType=TIMESTAMP}
		</foreach>
		<foreach collection="list" item="item" index="index"
				separator="" open="create_id=CASE book_id" close="END,">
			WHEN #{item.book_id} THEN #{item.createId,jdbcType=INTEGER}
		</foreach>
		<foreach collection="list" item="item" index="index"
				separator="" open="update_time=CASE book_id" close="END,">
			WHEN #{item.book_id} THEN #{item.updateTime,jdbcType=TIMESTAMP}
		</foreach>
		<foreach collection="list" item="item" index="index"
				separator="" open="update_id=CASE book_id" close="END">
			WHEN #{item.book_id} THEN #{item.updateId,jdbcType=INTEGER}
		</foreach>
		WHERE book_id IN
		<foreach collection="list" item="item" index="index"
				separator="," open="(" close=")">
			WHEN #{item.book_id} THEN #{item.bookId,jdbcType=INTEGER}
		</foreach>
	</update>

	<update id="updateBookBatchSelective" parameterType="java.util.List">
		UPDATE book
		<trim prefix="SET" suffixOverrides=",">
			<trim prefix="title = CASE"  suffix="END,">
				<foreach collection="list" item="item" index="index">
					<if test="item.title != null">
						WHEN book_id=#{item.bookId} THEN #{item.title,jdbcType=VARCHAR}
					</if>
				</foreach>
			</trim>
			<trim prefix="content = CASE"  suffix="END,">
				<foreach collection="list" item="item" index="index">
					<if test="item.content != null">
						WHEN book_id=#{item.bookId} THEN #{item.content,jdbcType=VARCHAR}
					</if>
				</foreach>
			</trim>
			<trim prefix="img_src = CASE"  suffix="END,">
				<foreach collection="list" item="item" index="index">
					<if test="item.imgSrc != null">
						WHEN book_id=#{item.bookId} THEN #{item.imgSrc,jdbcType=VARCHAR}
					</if>
				</foreach>
			</trim>
			<trim prefix="reading = CASE"  suffix="END,">
				<foreach collection="list" item="item" index="index">
					<if test="item.reading != null">
						WHEN book_id=#{item.bookId} THEN #{item.reading,jdbcType=INTEGER}
					</if>
				</foreach>
			</trim>
			<trim prefix="detail = CASE"  suffix="END,">
				<foreach collection="list" item="item" index="index">
					<if test="item.detail != null">
						WHEN book_id=#{item.bookId} THEN #{item.detail,jdbcType=VARCHAR}
					</if>
				</foreach>
			</trim>
			<trim prefix="collection = CASE"  suffix="END,">
				<foreach collection="list" item="item" index="index">
					<if test="item.collection != null">
						WHEN book_id=#{item.bookId} THEN #{item.collection,jdbcType=INTEGER}
					</if>
				</foreach>
			</trim>
			<trim prefix="head_img_src = CASE"  suffix="END,">
				<foreach collection="list" item="item" index="index">
					<if test="item.headImgSrc != null">
						WHEN book_id=#{item.bookId} THEN #{item.headImgSrc,jdbcType=VARCHAR}
					</if>
				</foreach>
			</trim>
			<trim prefix="author = CASE"  suffix="END,">
				<foreach collection="list" item="item" index="index">
					<if test="item.author != null">
						WHEN book_id=#{item.bookId} THEN #{item.author,jdbcType=VARCHAR}
					</if>
				</foreach>
			</trim>
			<trim prefix="avatar = CASE"  suffix="END,">
				<foreach collection="list" item="item" index="index">
					<if test="item.avatar != null">
						WHEN book_id=#{item.bookId} THEN #{item.avatar,jdbcType=VARCHAR}
					</if>
				</foreach>
			</trim>
			<trim prefix="post_id = CASE"  suffix="END,">
				<foreach collection="list" item="item" index="index">
					<if test="item.postId != null">
						WHEN book_id=#{item.bookId} THEN #{item.postId,jdbcType=INTEGER}
					</if>
				</foreach>
			</trim>
			<trim prefix="music = CASE"  suffix="END,">
				<foreach collection="list" item="item" index="index">
					<if test="item.music != null">
						WHEN book_id=#{item.bookId} THEN #{item.music,jdbcType=VARCHAR}
					</if>
				</foreach>
			</trim>
			<trim prefix="create_time = CASE"  suffix="END,">
				<foreach collection="list" item="item" index="index">
					<if test="item.createTime != null">
						WHEN book_id=#{item.bookId} THEN #{item.createTime,jdbcType=TIMESTAMP}
					</if>
				</foreach>
			</trim>
			<trim prefix="create_id = CASE"  suffix="END,">
				<foreach collection="list" item="item" index="index">
					<if test="item.createId != null">
						WHEN book_id=#{item.bookId} THEN #{item.createId,jdbcType=INTEGER}
					</if>
				</foreach>
			</trim>
			<trim prefix="update_time = CASE"  suffix="END,">
				<foreach collection="list" item="item" index="index">
					<if test="item.updateTime != null">
						WHEN book_id=#{item.bookId} THEN #{item.updateTime,jdbcType=TIMESTAMP}
					</if>
				</foreach>
			</trim>
			<trim prefix="update_id = CASE"  suffix="END,">
				<foreach collection="list" item="item" index="index">
					<if test="item.updateId != null">
						WHEN book_id=#{item.bookId} THEN #{item.updateId,jdbcType=INTEGER}
					</if>
				</foreach>
			</trim>
		</trim>
		WHERE
		<foreach collection="list" separator="OR" item="item" index="index" >
			book_id=#{item.bookId}
		</foreach>
	</update>

</mapper>

