<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.user.dao.UserDao">

	<select id="selectUserList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		u.user_id					AS userId,
		u.user_name					AS userName,
		u.password					AS password,
		u.status					AS status,
		u.create_time				AS createTime,
		u.update_time				AS updateTime
		FROM ms_user					u
		WHERE u.status > 0
		<if test="userId != null" >AND u.user_id = #{userId,jdbcType=BIGINT}</if>
	</select>

	<insert id="insertUser" parameterType="com.user.model.UserPojo">
		INSERT INTO ms_user
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="userId != null" >user_id,</if>
			<if test="userName != null" >user_name,</if>
			<if test="password != null" >password,</if>
			<if test="status != null" >status,</if>
			<if test="createTime != null" >create_time,</if>
			<if test="updateTime != null" >update_time,</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides="," >
			<if test="userId != null" >#{userId,jdbcType=BIGINT},</if>
			<if test="userName != null" >#{userName,jdbcType=VARCHAR},</if>
			<if test="password != null" >#{password,jdbcType=VARCHAR},</if>
			<if test="status != null" >#{status,jdbcType=INTEGER},</if>
			<if test="createTime != null" >#{createTime,jdbcType=TIMESTAMP},</if>
			<if test="updateTime != null" >#{updateTime,jdbcType=TIMESTAMP},</if>
		</trim>
	</insert>

</mapper>

